

/app/config.php
/assets/images/avatars/*
/assets/images/errors-images/*
/assets/images/gallery/*
/assets/images/icons/*
/assets/images/posters/*
test.php

public/assets/img/blog/*
public/assets/img/categories/*
public/assets/img/event/*
public/assets/img/instagram-feed/*
public/assets/img/partner/*
public/assets/img/publication/*
public/assets/img/tutor/*
public/assets/img/blog/*
public/assets/img/about-video-thumb.jpg
public/assets/img/about-video-thumb.jpg